::-webkit-scrollbar { width:5px; height:5px; }
::-webkit-scrollbar-track-piece { background-color:#ffffff; }
::-webkit-scrollbar-thumb { background-color:#BBBBBB; }

body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #313131;
  background-color:white;
  text-align:justify;
}

#profilep {
  border-radius: 50%;
  height:100px;
  width:100px;
  margin:0 40px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size:50px;
  color: #f9ccfe;
}

h2 {
  line-height: 0.8;
  font-weight: 500;
  font-size:22px;
  color: #767676;
}

h3 {
  font-weight: 500;
  font-size:16px;
  color: #bbbbbb;
}

a {
  color: #313131;
  text-decoration: none;
  transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
}

a:hover {
  color: #888888;
  text-decoration: none;
  transition-duration: 0.2s;

}

ul{
  list-style-type:none;
  list-style-position: outside;
  padding: 0px
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.table_center{
  margin:0 auto;
}

.container{
  width:80%;
  margin:20px auto 20px auto;
}

#header{
  background-color: #fff;
  padding: 0px 0px 20px 0px;
  text-align:center;
}

.card {
  margin:20px auto 20px auto;
  background-color: #f8f8f8;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.desc{
  width:150px;
}
.post{
  width:80%;
  margin: 20px 10% 20px 10%;
}

.artist_img{
  width:300px;
  text-align: center;
  margin:20px 20px 20px 20px;
}
